/* GLOBAL STYLE SHEET */
/* BODY */
body {
  background-color: white;
  background-size: cover;
  background-position: center;
}

/* NAVIGATION */
#top-nav .main-items {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  flex-grow: 1;
}

#top-nav {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
}

#top-nav li {
  list-style-type: none;
  font-size: 2rem;
  display: block;
}

#top-nav li a {
  text-decoration: none;
  font-family: "Amatic SC";
  color: black;
  padding: 10px 20px;
}

#top-nav li a:hover {
  color: #fff;
  background-color: #4d6a79;
}

#top-nav .sub-items {
  display: flex;
}

#top-nav .sub-items li {
}

/* DESIGN */
@font-face {
  font-family: "Amatic SC";
  src: url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap")
    format("opentype");
}

h1 {
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 60px;
  font-family: "Amatic SC";
  text-align: center;
  color: black;
}

p {
  font-weight: 30;
  letter-spacing: 3px;
  font-size: 18px;
  font-family: "PT Sans";
  text-align: center;
  color: black;
}

button {
  height: 4em;
  width: 10%;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: #4d6a79;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

section {
  padding: 25px;
  text-align: center;
}

/* FOOTER */
footer {
  background: #4d6a79;
  color: #868c96;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 25px;
}
/* END OF GLOBAL STYLE SHEET */
